.breadCrumbs {
  display: flex;  
  align-items: center;
  padding: 16px 48px; 
  font-size: 24px;
  color: var(--tertiary-color);
}

.breadCrumbs__separator{
  margin: 0px 4px;
}

.breadCrumbs__item {
  font-weight: 800;
}

.breadCrumbs__item:hover{
  cursor: pointer; 
}







