.breadCrumbs {
  display: flex;  
  align-items: center;
  padding: 16px 48px;
 
  font-size: 24px;
}

.breadCrumbs__item {
  margin-left: 16px;
  font-weight: 800;
  color: var(--tertiary-color);
}

.breadCrumbs__item:hover{
  cursor: pointer; 
}







