.crudPostsUser {
  margin-top: 48px;
  margin-left: 48px;
  margin-right: 48px
}

.crudPostsUser__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  gap: 16px;
}

.crudPostsUser__title{
  color: var(--tertiary-color);
  margin-bottom: 16px;
}



@media (min-width: 1367px) and (max-width: 1920px) {
  .crudPostsUser__list {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
}

@media (min-width: 1025px) and (max-width: 1366px) {
  .crudPostsUser__list {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  }
}

@media(min-width: 768px) and (max-width:1024px) {
  .crudPostsUser__list {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}


@media (max-width: 767px) {
  .crudPostsUser {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px
  }
  .crudPostsUser__list {
    grid-template-columns: repeat(1, minmax(500px, 1fr));
  }
}